body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: white;
  padding: 20px;
  width: 320px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
}

input, select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

#studentName {
  color: green;
  font-weight: bold;
}

#msg {
  margin-top: 10px;
}
